body {
  background-color: antiquewhite;
}

#tarolo {
  background-color: lightblue;
  color: black;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#menu {
  padding: 10px;
}

#menu a {
  color: brown;
  text-decoration: none;
  border: 1px solid orangered;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  background-color: lightseagreen;
  border-radius: 10px;
}

#menu a:hover {
  color: darkslategray;
  background-color: lightcoral;
}
